﻿
@{
    ViewData["Title"] = "UserRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown5-container {
        display: block !important;
    }
    .radioalign {
        text-align: center;
        padding-top: 11px;
    }
</style>
<script>
    $(document).ready(function ($) {
        debugger;
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
        $(document).on("click", "#excel", function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

            var table = document.getElementById("example12");
            //var example1 = $('.example1');

            //var filters = $('.ng-table-filters').remove();
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML };
            //$('.ng-table-sort-header').after(filters);
            var url = uri + base64(format(template, ctx));
            var a = document.createElement('a');
            a.href = url;

            //var today = new Date();
            //var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear() + ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();

            a.download = 'Userrole.xls';
            a.click();
        });
        var Roles = "";
        //   $("input[type='radio']").prop("checked", true);
        $("#UserRoleStatus").val("1");
        $("#Status").prop('checked', true);
        $("#update").addClass("hidden");
        $(document).on("click", "#update", function () {
            debugger;
            var Role_Id = $("#UserRoleId").val();
            var Active = 1;
            var Role_Name = $("#Role_Name").val();
            if (Role_Name == null || Role_Name == "" || Role_Name == undefined) {
                $("#Error").html("Please Enter Role Name");
                return false;
            }
            var cname = $("input[name='connection']:checked").val();
            if (cname != null) {
                Roles = "Connection," + cname;
            }
            else {
                Roles = "Connection,Hide";
            }

            var suite = $("input[name='Suite']:checked").val();

            if (Suite != null) {
                Roles += "|Suite," + suite;
            }
            else {
                Roles += "|Suite,Hide";
            }
            var Approach = $("input[name='Approach']:checked").val();
            if (Approach != null) {
                Roles += "|Approach," + Approach;
            }
            else {
                Roles += "|Approach,Hide";
            }

            var Testcases = $("input[name='Testcases']:checked").val();

            if (Testcases != null) {
                Roles += "|Testcases," + Testcases;
            }
            else {
                Roles += "|Testcases,Hide";
            }
            var etldb = $("input[name='etldb']:checked").val();

            if (etldb != null) {
                Roles += "|etldb," + etldb;
            }
            else {
                Roles += "|etldb,Hide";
            }
            var Release = $("input[name='Release']:checked").val();

            if (Release != null) {
                Roles += "|Release," + Release;
            }
            else {
                Roles += "|Release,Hide";
            }
            var Executions = $("input[name='Executions']:checked").val();

            if (Executions != null) {
                Roles += "|Executions," + Executions;
            }
            else {
                Roles += "|Executions,Hide";
            }
            var Test_Report = $("input[name='Test_Report']:checked").val();

            if (Test_Report != null) {
                Roles += "|TestReport," + Executions;
            }
            else {
                Roles += "|TestReport,Hide";
            }
            var Analytics = $("input[name='Analytics']:checked").val();

            if (Analytics != null) {
                Roles += "|Analytics," + Analytics;
            }
            else {
                Roles += "|Analytics,Hide";
            }
            var Usermanage = $("input[name='Usermanage']:checked").val();

            if (Usermanage != null) {
                Roles += "|Usermanage," + Usermanage;
            }
            else {
                Roles += "|Usermanage,Hide";
            }

            var des = $("#Description").val();
            if ($('#Status').is(':checked')) {
                Active = 1;
            }
            else {
                Active = 0;
            }

            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/UserManagement/UpdateRole", // Controller/View
                    datatype: "json",
                    data: {
                        R_Name: Role_Name,
                        Role: Roles,
                        Status: Active,
                        Description: des,
                        UserRole: Role_Id
                    },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        if (data == "success") {
                            $("#Success").html("User Role Successfully Update");
                            Bindrid1(1);
                            clear();
                        }
                        else if (data == "employee") {
                            $("#Error").html("Role Mapped Active Employee, first Inactvie active employee");
                            return false;
                        }
                        else {
                            $("#Error").html("Connection Error Update");
                        }

                    },
                    error: function (Result) {

                    }

                });
        });

        function clear() {
            $("#UserRoleId").val("");
            $("#Role_Name").val("");
            $("input[type='radio']").prop("checked", false);
            $("#Status").prop('checked', true);
            $("#update").addClass("hidden");
            $("#Save").removeClass("hidden");
            $("#InActive").removeClass("hidden");
            $("#Active").addClass("hidden");
            $("#UserRoleStatus").val("1");
            $("#Description").val("");

        }
        $(document).on("click", "#Save", function () {
            debugger;
            var Active = 1;
            var Role_Name = $("#Role_Name").val();
            if (Role_Name == null || Role_Name == "" || Role_Name == undefined) {
                $("#Error").html("Please Enter Role Name");
                return false;
            }
            var cname = $("input[name='connection']:checked").val();
            if (cname != null) {
                Roles = "Connection," + cname;
            }
            else {
                Roles = "Connection,Hide";
            }

            var suite = $("input[name='Suite']:checked").val();

            if (Suite != null) {
                Roles += "|Suite," + suite;
            }
            else {
                Roles += "|Suite,Hide";
            }
            var Approach = $("input[name='Approach']:checked").val();
            if (Approach != null) {
                Roles += "|Approach," + Approach;
            }
            else {
                Roles += "|Approach,Hide";
            }

            var Testcases = $("input[name='Testcases']:checked").val();

            if (Testcases != null) {
                Roles += "|Testcases," + Testcases;
            }
            else {
                Roles += "|Testcases,Hide";
            }
            var etldb = $("input[name='etldb']:checked").val();

            if (etldb != null) {
                Roles += "|etldb," + etldb;
            }
            else {
                Roles += "|etldb,Hide";
            }
            var Release = $("input[name='Release']:checked").val();

            if (Release != null) {
                Roles += "|Release," + Release;
            }
            else {
                Roles += "|Release,Hide";
            }
            var Executions = $("input[name='Executions']:checked").val();

            if (Executions != null) {
                Roles += "|Executions," + Executions;
            }
            else {
                Roles += "|Executions,Hide";
            }
            var Test_Report = $("input[name='Test_Report']:checked").val();

            if (Test_Report != null) {
                Roles += "|TestReport," + Executions;
            }
            else {
                Roles += "|TestReport,Hide";
            }
            var Analytics = $("input[name='Analytics']:checked").val();

            if (Analytics != null) {
                Roles += "|Analytics," + Analytics;
            }
            else {
                Roles += "|Analytics,Hide";
            }
            var Usermanage = $("input[name='Usermanage']:checked").val();

            if (Usermanage != null) {
                Roles += "|Usermanage," + Usermanage;
            }
            else {
                Roles += "|Usermanage,Hide";
            }
            var des = $("#Description").val();
            if ($('#Status').is(':checked')) {
                Active = 1;
            }
            else {
                $("#Error").html("Please Check Active Check box");
            }

            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/UserManagement/SaveRole", // Controller/View
                    datatype: "json",
                    data: {
                        R_Name: Role_Name,
                        Role: Roles,
                        Status: Active,
                        Description: des,
                    },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        if (data == "success") {
                            $("#Success").html("User Role Successfully Saved");
                            Bindrid1(1);
                            clear();
                        }
                        else {
                            $("#Error").html("Already User Role Exits");
                        }
                    },
                    error: function (Result) {

                    }

                });
        });
        Bindrid(1);

    });
    function Bindrid(status) {
        if (status == "1") {
            $("#InActive").removeClass("hidden");
            $("#Active").addClass("hidden");
            $("#UserRoleStatus").val("1");
        }
        else {
            $("#InActive").addClass("hidden");
            $("#Active").removeClass("hidden");
            $("#UserRoleStatus").val("0");
        }
        $.ajax(
            {
                type: "GET", //HTTP POST Method
                url: "/UserManagement/UserBinds", // Controller/View
                datatype: "json",
                data: { status: status },
                headers: {
                    "Content-Type": JSON,
                    'Authorization': localStorage.getItem("AuthoToken"),
                },
                success: function (data) {
                    debugger;
                    if (data == "Auth Fail") {
                        $("#Error").html("Authentication Failed,Your Session Failed");
                        return false;
                    }
                    $('#example').dataTable().fnClearTable();
                    $('#example').dataTable().fnDestroy();
                    $('#tblAuthgrid').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var tr;
                            tr = $('<tr/>');
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].roleId + "</td>");
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].roleName + "</td>");
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                            tr.append("<td> <span  OnClick='deletefun(" + data[i].roleId + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                            $('#tblAuthgrid').append(tr);
                        }

                        $('#example').DataTable({
                            paging: true,
                            scrollX: true,
                            lengthChange: true,
                            searching: true,
                            ordering: true,
                            "order": [[4, "desc"]],
                            "bDestroy": true
                        });
                        for (var i = 0; i < data.length; i++) {
                            var tr;
                            tr = $('<tr/>');
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].roleId + "</td>");
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].roleName + "</td>");
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                            tr.append("<td> <span  OnClick='deletefun(" + data[i].roleId + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                            $('#tblAuthgrid1').append(tr);
                        }
                    }

                },
                error: function (Result) {

                }

            });
    }
    function Bindrid1(status) {
        if (status == "1") {
            $("#InActive").removeClass("hidden");
            $("#Active").addClass("hidden");
            $("#UserRoleStatus").val("1");
        }
        else {
            $("#InActive").addClass("hidden");
            $("#Active").removeClass("hidden");
            $("#UserRoleStatus").val("0");
        }
        $.ajax(
            {
                type: "GET", //HTTP POST Method
                url: "/UserManagement/UserBinds", // Controller/View
                datatype: "json",
                data: { status: status },
                headers: {
                    "Content-Type": JSON,
                    'Authorization': localStorage.getItem("AuthoToken"),
                },
                success: function (data) {
                    debugger;
                    if (data == "Auth Fail") {
                        $("#Error").html("Authentication Failed,Your Session Failed");
                        return false;
                    }
                    $('#example').dataTable().fnClearTable();
                    $('#example').dataTable().fnDestroy();
                    $('#tblAuthgrid').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var tr;
                            tr = $('<tr/>');
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].roleId + "</td>");
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].roleName + "</td>");
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                            tr.append("<td OnClick='display(" + data[i].roleId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                            tr.append("<td> <span  OnClick='deletefun(" + data[i].roleId + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                            $('#tblAuthgrid').append(tr);
                        }
                        $('#example').DataTable({
                            paging: true,
                            scrollX: true,
                            lengthChange: true,
                            searching: true,
                            ordering: true,
                            "order": [[4, "desc"]],
                            "bDestroy": true
                        });

                    }

                },
                error: function (Result) {

                }

            });
    }
    function UserBinds(roleid) {
        $.ajax(
            {
                type: "GET", //HTTP POST Method
                url: "/UserManagement/Roleid", // Controller/View
                datatype: "json",
                data: { roleid: roleid },
                headers: {
                    "Content-Type": JSON,
                    'Authorization': localStorage.getItem("AuthoToken"),
                },
                success: function (data) {
                    debugger;
                    if (data == "Auth Fail") {
                        $("#Error").html("Authentication Failed");
                        return false;
                    }

                    Bindrid1(1);
                },
                error: function (Result) {

                }

            });
    }
    function display(roles) {
        $("#update").removeClass("hidden");
        $("#Save").addClass("hidden");
        var table = document.getElementById('example');
        var cells = table.getElementsByTagName('td');
        for (var i = 0; i < cells.length; i++) {
            var rowsNotSelected = table.getElementsByTagName('tr');
            for (var row = 0; row < rowsNotSelected.length; row++) {
                rowsNotSelected[row].style.backgroundColor = "";
                rowsNotSelected[row].classList.remove('highlight');
            }
        }
        $.ajax(
            {
                type: "GET", //HTTP POST Method
                url: "/UserManagement/EditRole", // Controller/View
                datatype: "json",
                data: {
                    RoleId: roles,
                },
                headers: {
                    "Content-Type": JSON,
                    'Authorization': localStorage.getItem("AuthoToken"),
                },
                success: function (data) {
                    debugger;
                    if (data == "Auth Fail") {
                        $("#Error").html("Authentication Failed,Your Session Failed");
                        return false;
                    }

                    $("#UserRoleId").val(data["0"].roleId);
                    $("#Role_Name").val(data["0"].roleName);
                    $("#Description").val(data["0"].description)
                    var screenname = data["0"].screenName;
                    var Screensplit = screenname.split("|");
                    for (var i = 0; i < Screensplit.length; i++) {
                        var val = Screensplit[i];
                        var show = val.split(",");
                        var val2 = show["0"];
                        var val1 = show["1"];
                        switch (val2) {
                            case "Connection":
                                $("input[name='connection'][value=" + val1 + "]").prop("checked", true);
                                break;
                            case "Suite":
                                $("input[name='Suite'][value=" + val1 + "]").prop("checked", true);
                                break;
                            case "Approach":
                                $("input[name='Approach'][value=" + val1 + "]").prop("checked", true);
                                break;
                            case "Testcases":
                                $("input[name='Testcases'][value=" + val1 + "]").prop("checked", true);
                                break;
                            case "etldb":
                                $("input[name='etldb'][value=" + val1 + "]").prop("checked", true);
                                break;
                            case "Release":
                                $("input[name='Release'][value=" + val1 + "]").prop("checked", true);
                                break;
                            case "Executions":
                                $("input[name='Executions'][value=" + val1 + "]").prop("checked", true);
                                break;
                            case "TestReport":
                                $("input[name='Test_Report'][value=" + val1 + "]").prop("checked", true);
                                break;
                            case "Analytics":
                                $("input[name='Analytics'][value=" + val1 + "]").prop("checked", true);
                                break;
                            case "Usermanage":
                                $("input[name='Usermanage'][value=" + val1 + "]").prop("checked", true);
                                break;
                        }

                    }
                    var status = data["0"].status;
                    if (status == "1") {
                        $("#Status").prop("checked", true);
                    }
                    else {
                        $("#Status").prop("checked", false);
                    }

                },
                error: function (Result) {

                }

            });
    }

</script>

<!-- Sidebar -->
<!-- /#sidebar-wrapper -->
<!-- Page Content -->
<h3 style="        color: #ba9122; padding: 14px; margin-left: 42px;">User Role</h3>
<div class="container" style=" background-color: white;  padding-bottom: unset;">
    <div class=" container-scroller">

        <div class="container-fluid page-body-wrapper">

            <div class="main-panel">
                <div class="content-wrapper" style="padding: 1.5rem .8rem .5rem 2rem;">

                    <form method="post" enctype="multipart/form-data">
                        <div class="form">
                            <div class="row" style="padding-bottom: 20px;">
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Role Name</label><br />
                                    @*<select name="Suite" id="SuiteName" class="form-control">
                                            <option value="">Select Suite</option>
                                        <option></option>
                                        </select>*@
                                    <input type="text" name="Role_Name" class="form-control" id="Role_Name" />
                                </div>

                            </div>
                            <div class="row" style="padding-bottom: 20px;">

                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Connections </label><br />

                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="connection" id="connection" value="Show" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Show</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="connection" id="connection" value="Hide" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Hide</label>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 20px;">

                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Test Suite </label><br />

                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Suite" id="Suite" value="Show" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Show</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Suite" id="Suite" value="Hide" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Hide</label>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 20px;">

                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Test Approach </label><br />

                                </div>

                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Approach" id="Approach" value="Show" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Show</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Approach" id="Approach" value="Hide" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Hide</label>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 20px;">

                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Test Cases </label><br />

                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Testcases" id="Testcases" value="Show" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 " style="text-align: left;">
                                    <label>Show</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Testcases" id="Testcases" value="Hide" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Hide</label>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 20px;">

                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="text-align: left;">
                                    <label><span style="color: red;">* </span>ETL/DB </label><br />

                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="etldb" id="etldb" value="Show" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Show</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="etldb" id="etldb" value="Hide" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Hide</label>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 20px;">

                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Release </label><br />

                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Release" id="Release" value="Show" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Show</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Release" id="Release" value="Hide" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Hide</label>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 20px;">

                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Executions </label><br />

                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Executions" id="Executions" value="Show" />
                                </div>

                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Show</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Executions" id="Executions" value="Hide" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Hide</label>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 20px;">

                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Test Report </label><br />

                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Test_Report" id="Test_Report" value="Show" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Show</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Test_Report" id="Test_Report" value="Hide" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Hide</label>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 20px;">

                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Analytics </label><br />

                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Analytics" id="Analytics" value="Show" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Show</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Analytics" id="Analytics" value="Hide" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Hide</label>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 20px;">

                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="text-align: left;">
                                    <label><span style="color: red;">* </span>User Management </label><br />

                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Usermanage" id="Usermanage" value="Show" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Show</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 radioalign">
                                    <input type="radio" name="Usermanage" id="Usermanage" value="Hide" />
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="text-align: left;">
                                    <label>Hide</label>
                                </div>
                            </div>
                            <div class="row" style="padding-top:1em;">

                                <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                    <label>Description</label> <br />
                                    <input type="text" id="Description" class="form-control" maxlength="50" />
                                    @*<textarea type="text" cols="40" rows="3" id="Description" style="resize: none;" class="txt-input form-control" maxlength="50"></textarea>*@
                                </div>

                            </div>

                        </div>


                    </form>
                </div>


            </div>
        </div>


    </div>
</div>
<div class="container" style="        background-color: #eeeeee;
        padding: 10px;
        padding-bottom: unset;
        margin-top: 15px">
    <div class="row" style="        padding: 10px
">
        <div class="col-lg-6 col-md-6 col-xs-6  col-sm-6" style="text-align:left">
            <input type="checkbox" id="Status"> Set As active
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label style="text-align:center;color:red" id="Error"></label>
                <label style="text-align:center;color:green" id="Success"></label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6  col-sm-6" style="text-align:right">
            <input type="button" class="text-center center-block" style="        color: white;background-color: #c9a642" id="Save" value="SAVE">
            <input type="button" class="text-center center-block hidden" style="       color: white;background-color: #c9a642" id="update" value="Update">
            <input type="button" class="text-center center-block clear" OnClick="clear()" style="   color: black;" id="Clear" value="Clear">
            <input type="hidden" id="UserRoleId" />
            <input type="hidden" id="UserRoleStatus" />
        </div>

    </div>
</div>
<div class="container" style="        background-color: white;

        padding-bottom: unset;
        margin-top: 15px">

    <div class="container" style="     background-color: white;    padding: 44px; padding-top: 15px; padding-bottom: 100px;">
        <div class="content">
            <div class=" container-scroller">


                @*<div class="col-lg-12 form-inline"
                             style="">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8 " style="padding-right:0px;">
                                <div style=" position: absolute;">
                                    <div>
                                        <input type="text" id="search" name="search" class="form-control" />
                                        <button id="Searchlist" class="button" style=" margin: unset; background-color: #c9a642; margin-left: 10px" value="Search">Search</button>
                                    </div>

                                </div>
                                <div style=" padding-left: 60%;">
                                    <button id="InActive" OnClick='Bindrid("0")' class="button" style="margin: unset; background-color: #c9a642;  margin-left: 10px;" value="In Active">
                                        Inactive
                                    </button>
                                    <button id="Active" OnClick='Bindrid("1")' class="button hidden" style=" margin: unset; background-color: #c9a642; margin-left: 10px" value="Active">
                                        Active
                                    </button>
                                </div>
                                <div class="form-group" style="        padding-left: 91%;
        margin-top: -5%;">


                                    <button type="button" id="excel" class="btn  btn-sm">
                                        <img src="~/ExportExcel.png"
                                             style="cursor: pointer;" />
                                    </button>
                                </div>
                            </div>
                        </div>*@
                <div class="form-group" id="Excelpos">


                    <button type="button" class="btn  btn-sm" id="excel">
                        <img src="~/ExportExcel.png"
                             style="cursor: pointer;" />
                    </button>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-sm-12 mat-elevation-z8"
                         style="box-shadow: unset;padding: 0px ;" #TABLE>
                        <table class="table" id="example" style="width: 100%;" border="1">
                            <thead>
                                <tr>
                                    <td>
                                        Role Id
                                    </td>
                                    <td>
                                        Role
                                    </td>

                                    <td>
                                        Description
                                    </td>
                                    <td>
                                        Status
                                    </td>
                                    <td style="width: 100px;">Delete</td>
                                </tr>
                            </thead>
                            <tbody id="tblAuthgrid"></tbody>

                        </table>
                    </div>

                </div>

                <div class="row" style="margin-top:10px">
                    <div class="col-sm-12 mat-elevation-z8"
                         style="box-shadow: unset;padding: 0px ;" #TABLE>
                        <table class="table" id="example12" style="        width: 100%;
        display: none" border="1">
                            <thead>
                                <tr>
                                    <td>
                                        Role Id
                                    </td>
                                    <td>
                                        Role
                                    </td>

                                    <td>
                                        Description
                                    </td>
                                    <td>
                                        Status
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="tblAuthgrid1"></tbody>

                        </table>
                    </div>

                </div>
            </div>
            <!-- partial:../../partials/_footer.html -->

        </div>


    </div>

</div>
<!-- partial:../../partials/_footer.html -->
    </div>

</div>