﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
    <style>
        .dropdown4-container {
            display: block !important;
        }

    </style>
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */


        $(document).ready(function ($) {
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
            var dropdown = document.getElementsByClassName("dropdown-btn2");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
            $("#ReportStatus").val("1");




            $(document).on("click", "#Searchlist", function () {
                debugger;
                var searchres = $("#search").val();
                var report = $("#ReportStatus").val();
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/Home/SearchReport", // Controller/View
                        datatype: "json",
                        data: {
                            search: searchres,
                            status: report,
                        },
                        success: function (data) {
                            debugger;
                            $('#tblAuthgrid').empty();
                            var tr;
                            if (data.length > 0) {
                                for (var i = 0; i < data.length; i++) {
                                    tr = $('<tr/>');

                                    tr.append("<td style='text-align:center'> <a href=" + data[i].resultUrl + " target='_blank'>" + data[i].suiteName + "</a></td>");
                                    tr.append("<td style='text-align:center'> " + data[i].execute + "</td>");
                                    tr.append("<td style='text-align:center'>" + data[i].time + "</td>");
                                    if (data[i].status == "1") {
                                        tr.append("<td style='text-align: center' > <button id='InActive' class='button' style=' background-color: #c9a642; margin-left: 10px; ' value='Active' OnClick='display(" + data[i].executeId + ",0);'> Active </button> </td>")
                                    }
                                    else {
                                        tr.append("<td style='text-align: center'  > <button id='InActive' class='button' style='background-color: #c9a642; margin-left: 10px; ' value='Inactive' OnClick='display(" + data[i].executeId + ",1);'>Inactive </button></td>")
                                    }
                                    tr.append("<td> <span  OnClick='deletefun(" + data[i].testCasesId + ");'  style='cursor: pointer;'>  " + (data[i].status == "1" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                    $('#tblAuthgrid').append(tr);
                                }
                            }

                        },
                        error: function (Result) {

                        }

                    });
            });

            $(document).on("click", "#excel", function () {
                var uri = 'data:application/vnd.ms-excel;base64,'
                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                    , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                    , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

                var table = document.getElementById("example12");
                //var example1 = $('.example1');

                //var filters = $('.ng-table-filters').remove();
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML };
                //$('.ng-table-sort-header').after(filters);
                var url = uri + base64(format(template, ctx));
                var a = document.createElement('a');
                a.href = url;

                //var today = new Date();
                //var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear() + ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();

                a.download = 'Report.xls';
                a.click();
            });

            Bindrid(1);



        });
        function Bindrid1(status) {
            if (status == "1") {
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#ReportStatus").val("1");
            }
            else {
                $("#InActive").addClass("hidden");
                $("#Active").removeClass("hidden");
                $("#ReportStatus").val("0");
            }
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Home/ExecBindGrid", // Controller/View
                    datatype: "json",
                    data: { Active: status },
                    success: function (data) {
                        debugger;
                        $('#example').dataTable().fnClearTable();
                        $('#example').dataTable().fnDestroy();
                        $('#tblAuthgrid').empty();
                        var tr;
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td style='text-align:center'> " + data[i].executeId + "</td>");
                                tr.append("<td style='text-align:center'> <a href=" + data[i].resultUrl + " target='_blank'>" + data[i].suiteName + "</a></td>");
                                tr.append("<td style='text-align:center'> " + data[i].execute + "</td>");
                                tr.append("<td style='text-align:center'>" + data[i].time + "</td>");
                                if (data[i].status == "1") {
                                    tr.append("<td style='text-align: center' > <button id='InActive' class='button' style=' background-color: #c9a642; margin-left: 10px; ' value='Active' OnClick='display(" + data[i].executeId + ",0);'> Active </button> </td>")
                                }
                                else {
                                    tr.append("<td style='text-align: center'  > <button id='InActive' class='button' style='background-color: #c9a642; margin-left: 10px; ' value='Inactive' OnClick='display(" + data[i].executeId + ",1);'>Inactive </button></td>")
                                }
                                tr.append("<td> <span  OnClick='deletefun(" + data[i].executeId + ");'  style='cursor: pointer;'>  " + (data[i].status == "0" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid').append(tr);
                            }

                            $('#example').DataTable({
                                paging: true,
                                scrollX: true,
                                lengthChange: true,
                                searching: true,
                                ordering: true,
                                "order": [[5, "desc"]],
                                "bDestroy": true
                            });

                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td style='text-align:center'> " + data[i].executeId + "</td>");
                                tr.append("<td style='text-align:center'> <a href=" + data[i].resultUrl + " target='_blank'>" + data[i].suiteName + "</a></td>");
                                tr.append("<td style='text-align:center'> " + data[i].execute + "</td>");
                                tr.append("<td style='text-align:center'>" + data[i].time + "</td>");
                                if (data[i].status == "1") {
                                    tr.append("<td style='text-align: center' > <button id='InActive' class='button' style=' background-color: #c9a642; margin-left: 10px; ' value='Active' OnClick='display(" + data[i].executeId + ",0);'> Active </button> </td>")
                                }
                                else {
                                    tr.append("<td style='text-align: center'  > <button id='InActive' class='button' style='background-color: #c9a642; margin-left: 10px; ' value='Inactive' OnClick='display(" + data[i].executeId + ",1);'>Inactive </button></td>")
                                }
                               // tr.append("<td> <span  OnClick='deletefun(" + data[i].executeId + ");'  style='cursor: pointer;'>  " + (data[i].status == "0" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid1').append(tr);
                            }
                        }

                    },
                    error: function (Result) {

                    }

                });
        }
        function Bindrid(status) {
            if (status == "1") {
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#ReportStatus").val("1");
            }
            else {
                $("#InActive").addClass("hidden");
                $("#Active").removeClass("hidden");
                $("#ReportStatus").val("0");
            }
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Home/ExecBindGrid", // Controller/View
                    datatype: "json",
                    data: { Active: status },
                    success: function (data) {
                        debugger;
                        $('#example').dataTable().fnClearTable();
                        $('#example').dataTable().fnDestroy();
                        $('#tblAuthgrid').empty();
                        var tr;
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td style='text-align:center'> " + data[i].executeId + "</td>");
                                tr.append("<td style='text-align:center'> <a href=" + data[i].resultUrl + " target='_blank'>" + data[i].suiteName + "</a></td>");
                                tr.append("<td style='text-align:center'> " + data[i].execute + "</td>");
                                tr.append("<td style='text-align:center'>" + data[i].time + "</td>");
                                if (data[i].status == "1") {
                                    tr.append("<td style='text-align: center' > <button id='InActive' class='button' style=' background-color: #c9a642; margin-left: 10px; ' value='Active' OnClick='display(" + data[i].executeId + ",0);'> Active </button> </td>")
                                }
                                else {
                                    tr.append("<td style='text-align: center'  > <button id='InActive' class='button' style='background-color: #c9a642; margin-left: 10px; ' value='Inactive' OnClick='display(" + data[i].executeId + ",1);'>Inactive </button></td>")
                                }
                                tr.append("<td> <span  OnClick='deletefun(" + data[i].executeId + ");'  style='cursor: pointer;'>  " + (data[i].status == "0" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid').append(tr);
                            }
                            $('#example1').DataTable({
                                paging: true,
                                scrollX: true,
                                lengthChange: true,
                                searching: true,
                                ordering: true,
                                "order": [[5, "desc"]],
                                "bDestroy": true
                                //paging: true,
                                //scrollX: true,
                                //lengthChange: true,
                                //searching: true,
                                //ordering: false,
                                //"bDestroy": true
                            });
                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td style='text-align:center'> " + data[i].executeId + "</td>");
                                tr.append("<td style='text-align:center'> <a href=" + data[i].resultUrl + " target='_blank'>" + data[i].suiteName + "</a></td>");
                                tr.append("<td style='text-align:center'> " + data[i].execute + "</td>");
                                tr.append("<td style='text-align:center'>" + data[i].time + "</td>");
                                if (data[i].status == "1") {
                                    tr.append("<td style='text-align: center' > <button id='InActive' class='button' style=' background-color: #c9a642; margin-left: 10px; ' value='Active' OnClick='display(" + data[i].executeId + ",0);'> Active </button> </td>")
                                }
                                else {
                                    tr.append("<td style='text-align: center'  > <button id='InActive' class='button' style='background-color: #c9a642; margin-left: 10px; ' value='Inactive' OnClick='display(" + data[i].executeId + ",1);'>Inactive </button></td>")
                                }
                             //   tr.append("<td> <span  OnClick='deletefun(" + data[i].executeId + ");'  style='cursor: pointer;'>  " + (data[i].status == "0" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid1').append(tr);
                            }
                        }

                    },
                    error: function (Result) {

                    }

                });
        }
        function deletefun(Reportid) {
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Home/deleteReport", // Controller/View
                    datatype: "json",
                    data: { ReportId: Reportid },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed");
                            return false;
                        }

                        Bindrid1(1);
                    },
                    error: function (Result) {

                    }

                });
        }

        function display(Execute, status) {

            debugger;
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Home/ReportUpdate", // Controller/View
                    datatype: "json",
                    data: { Active: status, Execution: Execute },
                    success: function (data) {
                        Bindrid1(1);
                    },
                    error: function (Result) {

                    }

                });
        }
    </script>

    <div>



        <h3 style="        color: #ba9122;padding: 14px; margin-left: 42px;">
            Report
        </h3>
        <div class="container" style="     background-color: white;    padding: 44px; padding-top: 15px; padding-bottom: 100px;">
            <div class="content">
                <div class=" container-scroller">


                    @*<div class="col-lg-12 form-inline"
                                 style="">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8 " style="padding-right:0px;">
                                    <div class="" style=" position: absolute;">
                                        <div class="">
                                            <input type="text" id="search" name="search" />
                                            <button id="Searchlist" class="button" style=" margin: unset; background-color: #c9a642; margin-left: 10px" value="Search">Search</button>
                                        </div>

                                    </div>
                                    <div style=" padding-left: 60%;">
                                        <button id="InActive" OnClick='Bindrid("0")' class="button" style="margin: unset; background-color: #c9a642;  margin-left: 10px;" value="Inactive">
                                            Inactive
                                        </button>
                                        <button id="Active" OnClick='Bindrid("1")' class="button hidden" style=" margin: unset; background-color: #c9a642; margin-left: 10px" value="Active">
                                            Active
                                        </button>
                                    </div>
                                    <input type="hidden" id="ReportStatus" />
                                    <div class="form-group" style="        padding-left: 92%;
        margin-top: -5%;">


                                        <button type="button" id="excel" class="btn  btn-sm">
                                            <img src="~/ExportExcel.png"
                                                 style="cursor: pointer;" />
                                        </button>
                                    </div>
                                </div>
                            </div>*@
                    <div class="form-group" id="Excelpos">


                        <button type="button" class="btn  btn-sm" id="excel">
                            <img src="~/ExportExcel.png"
                                 style="cursor: pointer;" />
                        </button>
                    </div>
                    <div class="row" style="margin-top:25px">
                        <div class="col-sm-12 mat-elevation-z8"
                             style="box-shadow: unset;padding: 0px ;" #TABLE>
                            <table style="width: 100%;" id="example1" border="1">
                                <thead style=" background-color: gray; color: white;">
                                    <tr>
                                        <td style="text-align:center">
                                            Report Id
                                        </td>
                                        <td style="text-align:center">
                                            Report
                                        </td>
                                        <td style="text-align:center">
                                            Execution date
                                        </td>
                                        <td style="text-align:center">
                                            Execution duration
                                        </td>
                                        <td style="text-align:center">
                                            Active
                                        </td>
                                        <td style="width: 100px;">
                                            Delete
                                        </td>
                                    </tr>
                                </thead>
                                <tbody id="tblAuthgrid"></tbody>

                            </table>

                        </div>

                    </div>

                    <div class="row" style="margin-top:25px">
                        <div class="col-sm-12 mat-elevation-z8"
                             style="box-shadow: unset;padding: 0px ;" #TABLE>
                            <table style="        width: 100%;
        display: none" id="example12" border="1">
                                <thead style=" background-color: gray; color: white;">
                                    <tr>
                                        <td style="text-align:center">
                                            Report Id
                                        </td>
                                        <td style="text-align:center">
                                            Report
                                        </td>
                                        <td style="text-align:center">
                                            Execution date
                                        </td>
                                        <td style="text-align:center">
                                            Execution duration
                                        </td>
                                        <td style="text-align:center">
                                            Active
                                        </td>
                                        
                                    </tr>
                                </thead>
                                <tbody id="tblAuthgrid1"></tbody>

                            </table>

                        </div>

                    </div>
                </div>
                <!-- partial:../../partials/_footer.html -->

            </div>


        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    </div>
</body>
</html>
