﻿@model ProductViewModel;
@using Microsoft.AspNetCore.Http
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */


        $(document).ready(function ($) {
            debugger;
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }

            $("#DbStatus").val("1");
            $("#Databasetype").change(function () {
                var value = $("#DbConfigId").val();
                var database = $(this).val();
                if (database == "SQL") {
                    $("#portview").addClass("hidden");
                }
                else {
                    $("#portview").removeClass("hidden");
                }
                if (value != null) {
                    $("#Success").html("");
                    $("#Error").html("");
                    $("#Dbhost").val('');
                    $("#dbName").val('');
                    $("#dbPort").val('');
                    $("#password").val('');
                    $("#Description").val('');
                    $("#dbusernaem").val('');
                    $("#update").addClass("hidden");
                    $("#Save").removeClass("hidden");
                    var table = document.getElementById('example');
                    var cells = table.getElementsByTagName('td');
                    for (var i = 0; i < cells.length; i++) {
                        var rowsNotSelected = table.getElementsByTagName('tr');
                        for (var row = 0; row < rowsNotSelected.length; row++) {
                            rowsNotSelected[row].style.backgroundColor = "";
                            rowsNotSelected[row].classList.remove('highlight');
                        }
                    }
                }
            });
            $(".toggle-confirm-password").click(function () {
                debugger;
                $("#fa-fw field-icon").toggleClass("fa-eye-slash");
                var input = $("#password");
                var input1 = $("#password").attr("type");
                //var input = $($(this).attr("toggle"));
                if (input.attr("type") != "password") {
                    input.attr("type", "password");
                } else {
                    input.attr("type", "text");
                }
            });
            $("#update").addClass("hidden");
            $("#Status").prop("checked", true);

            $(document).on("click", "#Save", function () {
                debugger;
                $("#Error").html('');
                $("#Success").html('');
                var Active = 1;

                var Name = $("#dbName").val();
                if (Name == null || Name == "" || Name == undefined) {
                    $("#Error").html("Please Enter DB Name");
                    return false;
                }
                var DemoName = $("#Dbhost").val();
                if (DemoName == null || DemoName == "" || DemoName == undefined) {
                    $("#Error").html("Please Enter Host Name");
                    return false;
                }
                var DbPortname = "";
                var Databasetype = $("#Databasetype").val();
                if (Databasetype == "MYSQL") {
                    DbPortname = $("#dbPort").val();
                    if (DbPortname == null || DbPortname == "" || DbPortname == undefined) {
                        $("#Error").html("Please Enter Database Port Number");
                        return false;
                    }
                }
                else {
                    DbConfigUpdate = "1433";
                }

                if (Databasetype == null || Databasetype == "" || Databasetype == undefined) {
                    $("#Error").html("please Select Database Type");
                    return false;
                }
                var UserName = $("#dbusernaem").val();
                if (UserName == null || UserName == "" || UserName == undefined) {
                    $("#Error").html("please Enter Database User Name");
                    return false
                }
                var Password = $("#password").val();
                if (Password == null || Password == "" || Password == undefined) {
                    $("#Error").html("please Enter Database Password");
                    return false;
                }
                var Des = $("#Description").val();
                if (Password == null || Password == "" || Password == undefined) {
                    Des = "";
                }

                if ($('#Status').is(':checked')) {
                    Active = 1;
                }
                else {
                    $("#Error").html("Please Check Active Check box");
                }
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/DbConfig/DbconfigSave", // Controller/View
                        datatype: "json",
                        data: {
                            Databasetype1: Databasetype,
                            Dbname: Name,
                            Dbhost: DemoName,
                            DbPortname: DbPortname,
                            Dbuser: UserName,
                            DbPassword: Password,
                            Active: Active,
                            Describtion: Des

                        },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            debugger;
                            var response = data;
                            if (response == "Success") {
                                $("#Dbhost").val('');
                                $("#dbName").val('');
                                $("#dbPort").val('');
                                $("#password").val('');
                                $("#Description").val('');
                                $("#dbusernaem").val('');
                                $("#Success").html("Connection Successfully Saved");
                                Bindrid1(1);
                            }
                            else if (response == "Valid Db") {
                                $("#Error").html("Please Enter Valid Connection");
                            }
                            else if (response == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                return false;
                            }
                            else {
                                $("#Error").html("Already Connection Exits");
                            }

                        },
                        error: function (Result) {

                        }

                    });
            });


            $(document).on("click", "#update", function () {
                debugger;
                $("#Error").html('');
                $("#Success").html('');
                var Name = $("#dbName").val();
                if (Name == null || Name == "" || Name == undefined) {
                    $("#Error").html("Please Enter DB Name");
                    return false;
                }
                var DemoName = $("#Dbhost").val();
                if (DemoName == null || DemoName == "" || DemoName == undefined) {
                    $("#Error").html("Please Enter Host Name");
                    return false;
                }
                var DbPortname = "";
                var Databasetype = $("#Databasetype").val();
                if (Databasetype == "MYSQL") {
                    DbPortname = $("#dbPort").val();
                    if (DbPortname == null || DbPortname == "" || DbPortname == undefined) {
                        $("#Error").html("Please Enter Database Port Number");
                        return false;
                    }
                }
                else {
                    DbConfigUpdate = "1433";
                }

                if (Databasetype == null || Databasetype == "" || Databasetype == undefined) {
                    $("#Error").html("please Select Database Type");
                    return false;
                }
                var UserName = $("#dbusernaem").val();
                if (UserName == null || UserName == "" || UserName == undefined) {
                    $("#Error").html("please Enter Database User Name");
                    return false;
                }

                var Password = $("#password").val();
                if (Password == null || Password == "" || Password == undefined) {
                    $("#Error").html("please Enter Database Password");
                    return false;
                }
                var Des = $("#Description").val();
                if (Password == null || Password == "" || Password == undefined) {
                    Des = "";
                }
                if ($('#Status').is(':checked')) {
                    Active = 1;
                }
                else {
                    Active = 0;
                }
                var dbconfId = $("#DbConfigId").val();
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/DbConfig/DbConfigUpdate", // Controller/View
                        datatype: "json",
                        data: {
                            Databasetype1: Databasetype,
                            Dbname: Name,
                            Dbhost: DemoName,
                            DbPortname: DbPortname,
                            Dbuser: UserName,
                            DbPassword: Password,
                            Active: Active,
                            Describtion: Des,
                            DbConfigId: dbconfId

                        },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            debugger;
                            var response = data;
                            if (response == "Success") {
                                $("#Dbhost").val('');
                                $("#dbName").val('');
                                $("#dbPort").val('');
                                $("#password").val('');
                                $("#Description").val('');
                                $("#update").addClass("hidden");
                                $("#Save").removeClass("hidden");
                                $("#dbusernaem").val('');
                                $("#Success").html("Connection Successfully Updated");
                                Bindrid1(1);
                            }
                            else if (response == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                return false;
                            }
                            else {
                                $("#Error").html("Connection TimeOut");
                            }

                        },
                        error: function (Result) {

                        }

                    });
            });

            $(document).on("click", "#excel", function () {
                debugger;
                var uri = 'data:application/vnd.ms-excel;base64,'
                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                    , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                    , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

                var table = document.getElementById("example1");
                //var example1 = $('.example1');

                //var filters = $('.ng-table-filters').remove();
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML };
                //$('.ng-table-sort-header').after(filters);
                var url = uri + base64(format(template, ctx));
                var a = document.createElement('a');
                a.href = url;

                //var today = new Date();
                //var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear() + ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();

                a.download = 'connections.xls';
                a.click();
            });
            $(document).on('click', '#Clear', function () {
                clear();
            });
            function clear() {
                $("#Success").html("");
                $("#Error").html("");
                $("#DbStatus").val("1");
                $("#Dbhost").val('');
                $("#dbName").val('');
                $("#dbPort").val('');
                $("#password").val('');
                $("#Description").val('');
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#dbusernaem").val('');
                $("#update").addClass("hidden");
                $("#Save").removeClass("hidden");
                var table = document.getElementById('example');
                var cells = table.getElementsByTagName('td');
                for (var i = 0; i < cells.length; i++) {
                    var rowsNotSelected = table.getElementsByTagName('tr');
                    for (var row = 0; row < rowsNotSelected.length; row++) {
                        rowsNotSelected[row].style.backgroundColor = "";
                        rowsNotSelected[row].classList.remove('highlight');
                    }
                }
            }

            Bindrid(1);


        });
        function Bindrid(Active) {
            if (Active == "1") {
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#DbStatus").val("1");
            }
            else {
                $("#InActive").addClass("hidden");
                $("#Active").removeClass("hidden");
                $("#DbStatus").val("0");

            }
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/DbConfig/BindGrid", // Controller/View
                    datatype: "json",
                    data: { status: Active },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed");
                            return false;
                        }
                        $('#example').dataTable().fnClearTable();
                        $('#example').dataTable().fnDestroy();
                        $('#tblAuthgrid').empty();
                        var tr;
                        if (data.length > 0) {

                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbconfigid + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbHostName + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbPort + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbUser + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].createDate + "</td>")
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                                tr.append("<td class='deleteicon'> <span  OnClick='deletefun(" + data[i].dbconfigid + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                //if (data[i].status == "Inactive") {
                                //    tr.append("<td  OnClick='deletefun(" + data[i].dbconfigid + ");'  style='cursor: pointer;'><i class='fa fa-trash-alt;'></i></td>");
                                //}
                                //   tr.append("<td> <label>test<label></td>");
                               

                                $('#tblAuthgrid').append(tr);

                            }

                            $('#example').DataTable({
                                paging: true,
                                scrollX: true,
                                searching: true,
                                ordering: true,
                                "order": [[8, "desc"]],
                                "bDestroy": true
                            });
                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbconfigid + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbHostName + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbPort + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbUser + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].createDate + "</td>")
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                               // tr.append("<td class='deleteicon'> <span  OnClick='deletefun(" + data[i].dbconfigid + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                //if (data[i].status == "Inactive") {
                                //    tr.append("<td  OnClick='deletefun(" + data[i].dbconfigid + ");'  style='cursor: pointer;'><i class='fa fa-trash-alt;'></i></td>");
                                //}
                                //   tr.append("<td> <label>test<label></td>");


                                $('#tblAuthgrid1').append(tr);

                            }
                        }

                    },
                    error: function (Result) {

                    }

                });
        }


        function Bindrid1(Active) {
            if (Active == "1") {
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#DbStatus").val("1");
            }
            else {
                $("#InActive").addClass("hidden");
                $("#Active").removeClass("hidden");
                $("#DbStatus").val("0");

            }
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/DbConfig/BindGrid", // Controller/View
                    datatype: "json",
                    data: { status: Active },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed");
                            return false;
                        }
                        $('#tblAuthgrid').empty();
                        $('#example').dataTable().fnClearTable();
                        $('#example').dataTable().fnDestroy();
                        $('#example').DataTable().clear().destroy();
                        var tr;
                        if (data.length > 0) {

                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbconfigid + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbHostName + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbPort + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbUser + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].createDate + "</td>")
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                                tr.append("<td class='deleteicon'> <span  OnClick='deletefun(" + data[i].dbconfigid + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");

                                //tr.append("<td  OnClick='deletefun(" + data[i].dbconfigid + ");'  style='cursor: pointer;'><i class='fa fa-trash-alt;'></i></td>");
                                //if (data[i].status == "Inactive") {
                                //    tr.append("<td ><i class='fa fa-trash-alt'  OnClick='deletefun(" + data[i].dbconfigid + ");'  style='cursor: pointer;'></i></td>");
                                //}

                                $('#tblAuthgrid').append(tr);

                            }
                        
                            $('#example').DataTable({
                                paging: true,
                                scrollX: true,
                                lengthChange: true,
                                searching: true,
                                ordering: true,
                                "order": [[8, "desc"]],
                                "bDestroy": true
                            });
                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbconfigid + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbHostName + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbPort + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].dbUser + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].createDate + "</td>")
                                tr.append("<td  OnClick='display(this," + data[i].dbconfigid + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                              //  tr.append("<td class='deleteicon'> <span  OnClick='deletefun(" + data[i].dbconfigid + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");

                                //tr.append("<td  OnClick='deletefun(" + data[i].dbconfigid + ");'  style='cursor: pointer;'><i class='fa fa-trash-alt;'></i></td>");
                                //if (data[i].status == "Inactive") {
                                //    tr.append("<td ><i class='fa fa-trash-alt'  OnClick='deletefun(" + data[i].dbconfigid + ");'  style='cursor: pointer;'></i></td>");
                                //}

                                $('#tblAuthgrid1').append(tr);

                            }
                        }

                    },
                    error: function (Result) {

                    }

                });
        }

        function deletefun(dbid) {
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/DbConfig/deletevalues", // Controller/View
                    datatype: "json",
                    data: { dbconfig: dbid },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed");
                            return false;
                        }

                        Bindrid1(1);
                    },
                    error: function (Result) {

                    }

                });
        }

        function display(a, val) {
            $("#Error").html("");
            $("#Success").html("");
            $("#Save").addClass("hidden");
            $("#update").removeClass("hidden");
            var table = document.getElementById('example');
            var cells = table.getElementsByTagName('td');
            for (var i = 0; i < cells.length; i++) {
                var rowsNotSelected = table.getElementsByTagName('tr');
                for (var row = 0; row < rowsNotSelected.length; row++) {
                    rowsNotSelected[row].style.backgroundColor = "";
                    rowsNotSelected[row].classList.remove('highlight');
                }
            }
            a.parentNode.classList.add("highlight");
            debugger;
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/DbConfig/Editdbconfig", // Controller/View
                    datatype: "json",
                    data: { DbconfigId: val },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        var result = data;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed");
                            return false;
                        }
                        $("#DbConfigId").val(data["0"].dbconfigid);
                        $("#dbName").val(data["0"].dbName);
                        $("#Dbhost").val(data["0"].dbHostName);
                        $("#dbPort").val(data["0"].dbPort);
                        $("#dbusernaem").val(data["0"].dbUser);
                        $("#password").val(data["0"].dbPassword);
                        $("#Description").val(data["0"].description);
                        $("#Databasetype").val(data["0"].databaseType);

                        var databasetpe = data["0"].databaseType;
                        var status = data["0"].status;
                        if (status == "1") {
                            $("#Status").prop("checked", true);
                        }
                        else {
                            $("#Status").prop("checked", false);
                        }
                        if (databasetpe == "SQL") {
                            $("#portview").addClass("hidden");
                        }
                        else {
                            $("#portview").removeClass("hidden");
                        }

                        debugger;

                    },
                    error: function (Result) {
                    }

                });
        }
        debugger;

    </script>

    <div>




                <h3 style="        color: #ba9122; padding: 14px; margin-left: 42px;">Connections</h3>
                <div class="container" style="        background-color: white;
        padding: 28px;
        padding-bottom: 60px;">
                    <div class="content">
                        <div class=" container-scroller">


                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                                    <label><span style="color: red;">* </span>DataBase Type</label><br />
                                    <select class="form-control" id="Databasetype">
                                        <option selected disabled value="">Select DataBase Type</option>
                                        <option value="SQL">SQL</option>
                                        <option value="MYSQL">MYSQL</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                    <label><span style="color: red;">* </span>DB Name</label><br />
                                    <input type="text" id="dbName" name="Name" class="txt-input form-control" maxlength="30"/>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                                    <label><span style="color: red;">* </span>DB Host</label><br />
                                    <input type="text" id="Dbhost" class="txt-input form-control" maxlength="120" />
                                </div>

                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" id="portview">
                                    <label><span style="color: red;">* </span>DB Port No</label><br />
                                    <input type="number" id="dbPort" class="txt-input form-control" maxlength="6" />
                                </div>

                            </div>

                            <div class="row" style="padding-top:10px">
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                                    <label><span style="color: red;">* </span>DB UserName</label><br />
                                    <input type="text" id="dbusernaem" class="txt-input form-control" maxlength="35" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                                    <label><span style="color: red;">* </span>DB Password</label><br />
                                    <input type="password" id="password" name="password" class="txt-input form-control" maxlength="120" />

                                    @*<span toggle="#password-field" class="toggle-confirm-password input-group-addon" style="position: absolute;   top: 44px;  right: 35px; background-color: unset;  border: unset; padding: unset">

                                            <i class="fa fa-fw fa-eye field-icon "></i>
                                        </span>*@
                                </div>
                                <div class="col-lg-3 col-xs-3 col-sm-6 col-md-6">
                                    <label>Description</label> <br />
                                    <input type="text" id="Description" class="txt-input form-control" placeholder="Description" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <!-- partial:../../partials/_footer.html -->

                    </div>

                </div>

                <div class="container" style="        background-color: #eeeeee;
        padding: 10px;
        padding-bottom: unset;
        margin-top: 15px">
                    <div class="row" style="        padding: 17px
">
                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="text-align:left">
                            <input type="checkbox" id="Status"> Set As active
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <label style="color:red;text-align:center" id="Error"></label>
                                <label style="color:green;text-align:center" id="Success"></label>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="text-align:right">
                            <input type="button" class="text-center center-block" style="        color: white;background-color: #c9a642" id="Save" value="SAVE">
                            <input type="button" class="text-center center-block hidden" style="       color: white;background-color: #c9a642" id="update" value="Update">
                            <input type="button" class="text-center center-block clear" style="   color: black;" id="Clear" value="Clear">
                            <input type="hidden" id="DbConfigId" />
                            <input type="hidden" id="DbStatus" />
                        </div>

                    </div>
                </div>
                <div class="container" style="        background-color: white;

        padding-bottom: unset;
        margin-top: 15px">

                    <div class="container" style="     background-color: white;    padding: 44px; padding-top: 15px; padding-bottom: 100px;">
                        <div class="content">
                            <div class=" container-scroller">


                                @*<div class="col-lg-12 form-inline"
             style="">
            <div class="col-lg-4"></div>
            <div class="col-lg-8 " style="padding-right:0px;">
                <div style=" position: absolute;">
                    <div class="">
                        <input type="text" id="search" name="search" class="form-control" />
                        <button id="Searchlist" class="button" style=" margin: unset;  background-color: #c9a642; margin-left: 10px" value="Search">
                            Search
                        </button>
                    </div>

                </div>
                <div style=" padding-left: 60%;">
                    <button id="InActive" OnClick='Bindrid("0")' class="button" style="margin: unset; background-color: #c9a642;  margin-left: 10px;" value="Inactive">
                        Inactive
                    </button>
                    <button id="Active" OnClick='Bindrid("1")' class="button hidden" style=" margin: unset; background-color: #c9a642; margin-left: 10px" value="Active">
                        Active
                    </button>
                </div>
                <div class="form-group" style="        padding-left: 91%; margin-top: -5%;">


                    <button type="button" id="excel" class="btn  btn-sm">
                        <img src="~/ExportExcel.png"
                             style="cursor: pointer;" />
                    </button>
                </div>
            </div>
        </div>*@

                                <div class="form-group" id="Excelpos">


                                    <button type="button" class="btn  btn-sm" id="excel">
                                        <img src="~/ExportExcel.png"
                                             style="cursor: pointer;" />
                                    </button>
                                </div>
                                <div class="row" style="margin-top:25px">
                                    <div class="col-sm-12 mat-elevation-z8"
                                         style="box-shadow: unset;padding: 0px ;" #TABLE>
                                        <table class="table" id="example" style="width: 100%;" border="1">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        DB Id
                                                    </td>
                                                    <td>
                                                        DB Host
                                                    </td>
                                                    <td>
                                                        DB Name
                                                    </td>
                                                    <td>
                                                        DB Port No
                                                    </td>
                                                    <td>
                                                        DB User
                                                    </td>

                                                    <td>
                                                        Description

                                                    </td>
                                                    <td>
                                                        Creation Date
                                                    </td>
                                                    <td>
                                                        Status
                                                    </td>
                                                    <td style="width: 100px;" class="deleteicon">
                                                        Delete
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody id="tblAuthgrid"></tbody>

                                        </table>
                                    </div>

                                </div>
                                <div class="row" style="margin-top:25px">
                                    <div class="col-sm-12 mat-elevation-z8"
                                         style="box-shadow: unset;padding: 0px ;" #TABLE>
                                        <table class="table" id="example1" style="width: 100%;display:none" border="1">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        DB Id
                                                    </td>
                                                    <td>
                                                        DB Host
                                                    </td>
                                                    <td>
                                                        DB Name
                                                    </td>
                                                    <td>
                                                        DB Port No
                                                    </td>
                                                    <td>
                                                        DB User
                                                    </td>

                                                    <td>
                                                        Description

                                                    </td>
                                                    <td>
                                                        Creation Date
                                                    </td>
                                                    <td>
                                                        Status
                                                    </td>
                                                  
                                                </tr>
                                            </thead>
                                            <tbody id="tblAuthgrid1"></tbody>

                                        </table>
                                    </div>

                                </div>
                            </div>
                            <!-- partial:../../partials/_footer.html -->

                        </div>


                    </div>

                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
        <!-- Bootstrap core JavaScript -->
        <!-- Menu Toggle Script -->

    </div>
</body>
</html>

