﻿@model ProductViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<body>
    <style>
        .dropdown1-container {
            display: block !important;
        }

        .dropdown9-container {
            display: block !important;
        }
        .dropdown10-container {
            display: block !important;
        }
    </style>
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */

        $(document).ready(function ($) {
            debugger;
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
            var dropdown = document.getElementsByClassName("dropdown-btn1");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
            var dropdown = document.getElementsByClassName("dropdown-btn2");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
            //$("#Templete").click(function () {

            //    var uri = 'data:application/vnd.ms-excel;base64,'
            //        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
            //        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            //        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            //    var table = document.getElementById("exampleimport");
            //    var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML };
            //    var url = uri + base64(format(template, ctx));
            //    var a = document.createElement('a');
            //    a.href = url;

            //    a.download = 'RuleTemplate.xls';//downloading template name
            //    a.click();
            //});
            $("#Rulestatus").val("1");
            $(document).on("click", "#Searchlist", function () {
                debugger;
                var searchres = $("#search").val();
                var status = $("#Rulestatus").val();
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/DbConfig/SearchRules", // Controller/View
                        datatype: "json",
                        data: {
                            search: searchres,
                            Status: status,
                        },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            debugger;
                            $('#tblAuthgrid').empty();
                            if (data == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                return false;
                            }
                            var tr;
                            if (data.length > 0) {
                                for (var i = 0; i < data.length; i++) {
                                    tr = $('<tr/>');
                                    tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].suiteName + "</td>");
                                    tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].ruleName + "</td>");
                                    tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].ruleParameter + "</td>");
                                    tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                                    tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>Active</td>");

                                    $('#tblAuthgrid').append(tr);
                                }
                            }

                        },
                        error: function (Result) {

                        }

                    });
            });

            $("#Status").prop('checked', true);
            $("#update").addClass("hidden");


            $(document).on("click", "#Save", function () {
                debugger;
                $("#Error").html("");
                $("#Success").html("");
                var Active = 1;
                //var Rule = $("#ProductId").val();
                //if (Rule == null || Rule == "" || Rule == undefined) {
                //    $("#Error").html("Please Select on Suite Name");
                //    return false;
                //}
                var Rule = "";
                var Rule1 = $("#ProductId").val();
                for (var i = 0; i < Rule1.length; i++) {
                    if (Rule == "") {
                        Rule = Rule1[i];
                    }
                    else {
                        Rule += "," + Rule1[i];
                    }
                }
                if (Rule == "" || Rule == null || Rule == "undefined" || Rule == undefined) {
                    $("#Error").html("Please Select Test Approach Name");
                    return false;
                }
                var Name = $("#RulesName").val();
                if (Name == null || Name == "" || Name == undefined) {
                    $("#Error").html("Please Enter Rule Name");
                    return false;
                }
                var inValid = /\s/;
                if ((inValid.test(Name))) {

                    $("#Error").html('Rule Name cannot contain whitespace');
                    return false;
                }
                var Rulecondition = $("#RulesCondition").val();
                if (Rulecondition == null || Rulecondition == "" || Rulecondition == undefined) {
                    $("#Error").html("Please Enter Rules Condition");
                    return false;
                }
                var DemoName = $("#RuleParameter").val();
                if (DemoName == null || DemoName == "" || DemoName == undefined) {
                    $("#Error").html("Please Enter Rule Parameter");
                    return false;
                }
                //var DBparameter = $("#TestsuidId").val();
                //if (DBparameter == null || DBparameter == "" || DBparameter == undefined) {
                //    $("#Error").html("Please Select Connection");
                //    return false;
                //}
                var rulesarray = "";
                for (var i = 0; i < DemoName; i++) {
                    var values = $("#Ruleparameter" + i).val();
                    if (values == "" || values == "" || values == undefined) {
                        $("#Error").html("Please Enter Rule Parameter Name " + i);
                        return false;
                    }
                    if (i == 0) {
                        rulesarray = values;
                    }
                    else {
                        rulesarray += "," + values;
                    }

                }
                var des = $("#Description").val();
                if ($('#Status').is(':checked')) {
                    Active = 1;
                }
                else {
                    $("#Error").html("Please Check Active Check box");
                }

                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/DbConfig/RulesSaveGrid", // Controller/View
                        datatype: "json",
                        data: {
                            SuiteName: Rule,
                            RuleName: Name,
                            Parameter: DemoName,
                            rulecond: Rulecondition,
                            Status: Active,
                            Description: des,
                            Ruleparameter: rulesarray,
                            //  connection: DBparameter,
                        },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            debugger;
                            if (data == "Success") {
                                $("#Success").html("Rule Successfully Saved");
                                Bindrid1(1);
                                clear();
                            }

                            else if (data == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                return false;
                            }
                            else {
                                $("#Error").html("Already Exits Rule Name");
                            }

                        },
                        error: function (Result) {

                        }

                    });
            });

            $(document).on("click", "#update", function () {
                debugger;
                $("#Error").html("");
                $("#Success").html("");
                var Active = 1;
                //var Rule = $("#ProductId").val();
                //if (Rule == null || Rule == "" || Rule == undefined) {
                //    $("#Error").html("Please Select on Suite Name");
                //    return false;
                //}
                var Rule = "";
                var Rule1 = $("#ProductId").val();
                for (var i = 0; i < Rule1.length; i++) {
                    if (Rule == "") {
                        Rule = Rule1[i];
                    }
                    else {
                        Rule += "," + Rule1[i];
                    }
                }
                if (Rule == "" || Rule == null || Rule == "undefined" || Rule == undefined) {
                    $("#Error").html("Please Select Test Approach Name");
                    return false;
                }
                var Name = $("#RulesName").val();
                if (Name == null || Name == "" || Name == undefined) {
                    $("#Error").html("Please Enter Rule Name");
                    return false;
                }
                var inValid = /\s/;
                if ((inValid.test(Name))) {

                    $("#Error").html('Rule Name cannot contain whitespace');
                    return false;
                }
                var Rulecondition = $("#RulesCondition").val();
                if (Rulecondition == null || Rulecondition == "" || Rulecondition == undefined) {
                    $("#Error").html("Please Enter Rules Condition");
                    return false;
                }
                var DemoName = $("#RuleParameter").val();
                if (DemoName == null || DemoName == "" || DemoName == undefined) {
                    $("#Error").html("Please Enter Parameter Count");
                    return false;
                }
                var rulesarray = "";
                for (var i = 0; i < DemoName; i++) {
                    var values = $("#Ruleparameter" + i).val();
                    if (values == "" || values == "" || values == undefined) {
                        $("#Error").html("Please Enter Rule Parameter Name " + i);
                        return false;
                    }
                    if (i == 0) {
                        rulesarray = values;
                    }
                    else {
                        rulesarray += "," + values;
                    }

                }
                //var DBparameter = $("#TestsuidId").val();
                //if (DBparameter == null || DBparameter == "" || DBparameter == undefined) {
                //    $("#Error").html("Please Select Connection");
                //    return false;
                //}

                var des = $("#Description").val();
                if ($('#Status').is(':checked')) {
                    Active = 1;
                }
                else {
                    Active = 0;
                }
                var RuleId = $("#RuleId").val();
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/DbConfig/RulesUpdate", // Controller/View
                        datatype: "json",
                        data: {
                            SuiteName: Rule,
                            RuleName: Name,
                            Parameter: DemoName,
                            rulecond: Rulecondition,
                            Status: Active,
                            Description: des,
                            RulesId: RuleId,
                            Ruleparameter: rulesarray,
                            //   connection: DBparameter,
                        },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            debugger;
                            if (data == "Success") {
                                $("#Success").html("Rule Successfully Updated");
                                Bindrid1(1);
                                clear();
                            } else if (data == "Validate") {
                                $("#Error").html('Please "Set As InActive" ETLDB for this ETL Rules');
                                return false;
                            }
                            else if (data == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                return false;
                            }
                            else {
                                $("#Error").html("Already Exits Rule Name");
                            }

                        },
                        error: function (Result) {

                        }

                    });
            });
            $(document).on('click', '#Clear', function () {
                clear();
                $("#Error").html("");
                $("#Success").html("");
                var table = document.getElementById('example');
                var cells = table.getElementsByTagName('td');
                for (var i = 0; i < cells.length; i++) {
                    var rowsNotSelected = table.getElementsByTagName('tr');
                    for (var row = 0; row < rowsNotSelected.length; row++) {
                        rowsNotSelected[row].style.backgroundColor = "";
                        rowsNotSelected[row].classList.remove('highlight');
                    }
                }
            });
            function clear() {
                $("#ParameterName").empty();
                $("#RuleParameter").val('');
                $("#RulesName").val('');
                $("#ProductId").val('');
                $("#Description").val('');
                $("#RulesCondition").val('');
                $("#Rulestatus").val("1");
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#RuleId").val('');
                $("#Save").removeClass("hidden");
                // $("#TestsuidId").val('');
                $("#update").addClass("hidden");
                $("#ProductId").trigger("chosen:updated");
                $('.chosen').chosen("destroy").chosen();
            }

            $(document).on("change", "#RuleParameter", function () {
                var parameter = $("#RuleParameter").val();
                $("#ParameterName").empty();
                for (var i = 0; i < parameter; i++) {
                    $("#ParameterName").append("<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3' style=' padding-bottom:10px'><label>Rule Parameter Name " + i + "</label> <input type='text' class='form-control' id='Ruleparameter" + i + "' value=" + (i == 0 ? "Schema" : i == 1 ? "Table_name" : "Column_Name") + " /> </div>")
                }
            });

            $(document).on("click", "#excel", function () {
                var uri = 'data:application/vnd.ms-excel;base64,'
                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                    , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                    , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

                var table = document.getElementById("example1");
                //var example1 = $('.example1');

                //var filters = $('.ng-table-filters').remove();
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML };
                //$('.ng-table-sort-header').after(filters);
                var url = uri + base64(format(template, ctx));
                var a = document.createElement('a');
                a.href = url;

                //var today = new Date();
                //var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear() + ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();

                a.download = 'ETL/Rules.xls';
                a.click();
            });
            $('#formid').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });

            $(document).on("click", "#RULEUploadToFile", function () {
                debugger;
                var file = document.getElementById("files");
                if (file == null || file == "" || file == undefined) {
                    $("#Error").html("Please choose File");
                    return false;
                }
                var files = file.files;
                var formData = new FormData();

                for (var i = 0; i !== files.length; i++) {
                    formData.append("files", files[i]);
                }
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "/DbConfig/RULEUploadToFile", // Controller/View

                        data: formData,
                        processData: false,
                        contentType: false,
                        headers: {
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            debugger;
                            $("#files").val("");
                            //$("#files").val()
                            $("#Success").html("File Upload Successfully");
                        },
                        error: function (Result) {
                            debugger;
                        }

                    });
            });
        });

        Bindrid(1);
        function Bindrid(status) {
            if (status == "1") {
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#Rulestatus").val("1");
            }
            else {
                $("#InActive").addClass("hidden");
                $("#Active").removeClass("hidden");
                $("#Rulestatus").val("0");
            }
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/DbConfig/RulesBindGrid", // Controller/View
                    datatype: "json",
                    data: { status: status },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        $('#example').dataTable().fnClearTable();
                        $('#example').dataTable().fnDestroy();
                        $('#tblAuthgrid').empty();
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                var tr;
                                tr = $('<tr/>');
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].rulesId + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].suiteName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].ruleName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].ruleParameter + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                                tr.append("<td> <span  OnClick='deletefun(" + data[i].rulesId + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid').append(tr);
                            }
                            $('#example').DataTable({
                                paging: true,
                                scrollX: true,
                                lengthChange: true,
                                searching: true,
                                ordering: true,
                                "order": [[6, "desc"]],
                                "bDestroy": true
                            });
                            for (var i = 0; i < data.length; i++) {
                                var tr;
                                tr = $('<tr/>');
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].rulesId + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].suiteName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].ruleName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].ruleParameter + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                              //  tr.append("<td> <span  OnClick='deletefun(" + data[i].rulesId + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid1').append(tr);
                            }
                        }

                    },
                    error: function (Result) {

                    }

                });
        }

        function Bindrid1(status) {
            if (status == "1") {
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#Rulestatus").val("1");
            }
            else {
                $("#InActive").addClass("hidden");
                $("#Active").removeClass("hidden");
                $("#Rulestatus").val("0");
            }
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/DbConfig/RulesBindGrid", // Controller/View
                    datatype: "json",
                    data: { status: status },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        $('#example').dataTable().fnClearTable();
                        $('#example').dataTable().fnDestroy();
                        $('#tblAuthgrid').empty();
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                var tr;
                                tr = $('<tr/>');
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].rulesId + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].suiteName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].ruleName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].ruleParameter + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                                tr.append("<td> <span  OnClick='deletefun(" + data[i].rulesId + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid').append(tr);
                            }

                            $('#example').DataTable({
                                paging: true,
                                scrollX: true,
                                lengthChange: true,
                                searching: true,
                                ordering: true,
                                "order": [[6, "desc"]],
                                "bDestroy": true
                            });
                            for (var i = 0; i < data.length; i++) {
                                var tr;
                                tr = $('<tr/>');
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].rulesId + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].suiteName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].ruleName + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].ruleParameter + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                                tr.append("<td OnClick='display(this," + data[i].rulesId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                              //  tr.append("<td> <span  OnClick='deletefun(" + data[i].rulesId + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid1').append(tr);
                            }
                        }

                    },
                    error: function (Result) {

                    }

                });
        }


        function deletefun(Ruid) {
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/DbConfig/deleteRule", // Controller/View
                    datatype: "json",
                    data: { RulesId: Ruid },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed");
                            return false;
                        }

                        Bindrid1(1);
                    },
                    error: function (Result) {

                    }

                });
        }

        function display(a, val) {
            $("#Error").html("");
            $("#Success").html("");
            $("#Save").addClass("hidden");
            $("#update").removeClass("hidden");
            var table = document.getElementById('example');
            var cells = table.getElementsByTagName('td');
            for (var i = 0; i < cells.length; i++) {
                var rowsNotSelected = table.getElementsByTagName('tr');
                for (var row = 0; row < rowsNotSelected.length; row++) {
                    rowsNotSelected[row].style.backgroundColor = "";
                    rowsNotSelected[row].classList.remove('highlight');
                }
            }
            a.parentNode.classList.add("highlight");
            debugger;
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/DbConfig/EditRuleset", // Controller/View
                    datatype: "json",
                    data: { Rulesetvalue: val },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        var result = data;
                        $("#RuleParameter").val(data["0"].ruleParameter);
                        $("#RulesName").val(data["0"].ruleName);
                        var testid = "";
                        var testapproach = data["0"].testApproachid;
                        if (testapproach != "") {
                            testid = data["0"].testApproachid.split(",");
                        }

                        $("#ProductId").val(testid).trigger('chosen:updated');
                        $('#ProductId').trigger('liszt:updated');
                        $("#Description").val(data["0"].description);
                        $("#RulesCondition").val(data["0"].ruleCondtion);
                        $("#RuleId").val(data["0"].rulesId);
                        // $("#TestsuidId").val(data["0"].dbConfigId);
                        var Paramterlenth = data["0"].ruleParamtername.length;
                        $("#ParameterName").empty();
                        for (var i = 0; i < Paramterlenth; i++) {

                            $("#ParameterName").append("<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3' style=' padding-bottom:10px'><label>Rule Parameter Name " + i + "</label> <input type='text' class='form-control' id='Ruleparameter" + i + "' value=" + data["0"].ruleParamtername[i].parameterName + " /> </div>")
                        }
                        var status = data["0"].status;
                        if (status == "1") {
                            $("#Status").prop("checked", true);
                        }
                        else {
                            $("#Status").prop("checked", false);
                        }
                        debugger;

                    },
                    error: function (Result) {
                    }

                });
        }


        $(document).ready(function () {
            debugger;
            $("#ProductId").trigger("chosen:updated");
            $('#ProductId').chosen("destroy").chosen();
            //    $(".chosen").chosen();

        });
    </script>
    <div>


        <h3 style="        color: #ba9122; padding: 14px; margin-left: 42px;">ETL/DB Rules</h3>
        <div class="container" style=" background-color: white;  padding-bottom: unset;">
            <div class=" container-scroller">

                <div class="container-fluid page-body-wrapper">

                    <div class="main-panel">
                        <div class="content-wrapper" style="padding: 1.5rem .8rem .5rem 2rem;">

                            <form method="post" id="formid" enctype="multipart/form-data">
                                <div class="form">
                                    <div class="row" style="padding-bottom: 20px;">
                                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                            <label><span style="color: red;">* </span>Test Approach</label><br />
                                            @*<select name="Suite" id="SuiteName" class="form-control">
                                                    <option value="">Select Suite</option>
                                                <option></option>
                                                </select>*@
                                            <select asp-for="ProductId"
                                                    class="form-control chosen"
                                                    asp-items="@(new SelectList(Model.Listofproducts,"Value", "Text"))" multiple="true">
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align: left;">
                                            <label><span style="color: red;">* </span>Rule Name</label><br />
                                            <input type="text" id="RulesName" name="Name" class="txt-input form-control" />
                                        </div>

                                        <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                            <label><span style="color: red;">* </span>Rule Parameter</label><br />
                                            <input type="number" id="RuleParameter" name="RuleParameter" class="txt-input form-control" />
                                        </div>
                                        @*<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                                <label><span style="color: red;">* </span>Connections</label><br />

                                                <select asp-for="TestsuidId"
                                                        class="form-control"
                                                        asp-items="@(new SelectList(Model.TestSuiteList,"Value", "Text"))">
                                                </select>
                                            </div>*@
                                        <div class="col-lg-12 col-xs-12 col-md-12 col-xs-12" style="text-align: left;">
                                            <label><span style="color: red;">* </span>Rule</label><br />
                                            <textarea type="text" id="RulesCondition" name="Name" class="txt-input" style="resize: none; width: 100%; border-radius: 0.25rem; border: 1px solid #ced4da;"></textarea>
                                        </div>
                                    </div>

                                    <div Id="ParameterName" class="row">

                                    </div>
                                    <div class="row" style="padding-top:1em;">

                                        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                            <label>Description</label> <br />
                                            <input type="text" id="Description" class="form-control" maxlength="50" />
                                            @*<textarea type="text" cols="40" rows="3" id="Description" style="resize: none;" class="txt-input form-control" maxlength="50"></textarea>*@
                                        </div>

                                    </div>
                                    <div class="row">


                                        <div class="panel11" id="empheight" style="padding-bottom:20px;">
                                            <div class="row">


                                                <div class="col-lg-12 col-md-12 col-xs-12" style="padding-top:30px;">
                                                    <input type="file" name="files" id="files" multiple class="button" style=" box-shadow: unset; background: unset; background-color: unset; color: unset;padding-left:15px" />
                                                </div>
                                                <div class="col-lg-3 col-xs-12" style="padding-top:30px;">
                                                    <button type="button" class="button text-center center-block" style="        color: white;background-color: #c9a642" id="RULEUploadToFile">Upload </button>
                                                    @*<button type="submit" class="button text-center center-block" style="        color: white;background-color: #c9a642" asp-controller="DbConfig" asp-action="RULEUploadToFile">Upload </button>*@
                                                </div>

                                                <div class="col-lg-3 col-xs-12" style="padding-top:30px;">

                                                    <button Id="Templete" type="submit" style="        color: white;background-color: #c9a642" class=" button text-center center-block" asp-controller="DbConfig" asp-action="TemplateDownload"> Template</button>

                                                </div>
                                                <!--Import Template table  -->
                                                <table id="exampleimport" border="1" style="display:none; border:1px solid">
                                                    <thead class="thead-bold" style="border: 1px solid black;">
                                                        <tr style="background-color: #BFD0D8 !important;">
                                                            <th class="th-bold">
                                                                R Id
                                                            </th>
                                                            <th class="th-bold">
                                                                Test Approach
                                                            </th>
                                                            <th class="th-bold">
                                                                Rule Name
                                                            </th>
                                                            <th class="th-bold">
                                                                Parameter
                                                            </th>
                                                            <th class="th-bold">
                                                                Query
                                                            </th>
                                                            <th class="th-bold">
                                                                Parameter Name 0
                                                            </th>
                                                            <th class="th-bold">
                                                                Parameter Name 1
                                                            </th>
                                                            <th class="th-bold">
                                                                Description

                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="border: 1px solid black;">
                                                    </tbody>
                                                </table>
                                                <!--/.Import Template table  -->


                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>


                    </div>
                </div>
                <div>
                    <input type="text" disabled id="Testrule" class="hidden" />
                </div>

            </div>
        </div>
        <div class="container" style="        background-color: #eeeeee;
        padding: 10px;
        padding-bottom: unset;
        margin-top: 15px">
            <div class="row" style="        padding: 10px
">
                <div class="col-lg-6 col-md-6 col-xs-6  col-sm-6" style="text-align:left">
                    <input type="checkbox" id="Status"> Set As active
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label style="text-align:center;color:red" id="Error"></label>
                        <label style="text-align:center;color:green" id="Success"></label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6  col-sm-6" style="text-align:right">
                    <input type="button" class="text-center center-block" style="        color: white;background-color: #c9a642" id="Save" value="SAVE">
                    <input type="button" class="text-center center-block hidden" style="       color: white;background-color: #c9a642" id="update" value="Update">
                    <input type="button" class="text-center center-block clear" style="   color: black;" id="Clear" value="Clear">
                    <input type="hidden" id="RuleId" />
                    <input type="hidden" id="Rulestatus" />
                </div>

            </div>
        </div>
        <div class="container" style="        background-color: white;

        padding-bottom: unset;
        margin-top: 15px">

            <div class="container" style="     background-color: white;    padding: 44px; padding-top: 15px; padding-bottom: 100px;">
                <div class="content">
                    <div class=" container-scroller">


                        @*<div class="col-lg-12 form-inline"
                                     style="">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-8 " style="padding-right:0px;">
                                        <div class="form-group" style=" position: absolute;">
                                            <div class="input-group">
                                                <input type="text" id="search" name="search" class="form-control" />
                                                <button id="Searchlist" class="button" style=" margin: unset; background-color: #c9a642; margin-left: 10px" value="Search">Search</button>
                                            </div>

                                        </div>
                                        <div style=" padding-left: 60%;">
                                            <button id="InActive" OnClick='Bindrid("0")' class="button" style="margin: unset; background-color: #c9a642;  margin-left: 10px;" value="Inactive">
                                                Inactive
                                            </button>
                                            <button id="Active" OnClick='Bindrid("1")' class="button hidden" style=" margin: unset; background-color: #c9a642; margin-left: 10px" value="Active">
                                                Active
                                            </button>
                                        </div>
                                        <div class="form-group" style="        padding-left: 91%;
        margin-top: -5%;">


                                            <button type="button" id="excel" class="btn  btn-sm">
                                                <img src="~/ExportExcel.png"
                                                     style="cursor: pointer;" />
                                            </button>
                                        </div>
                                    </div>
                                </div>*@
                        <div class="form-group" id="Excelpos">


                            <button type="button" class="btn  btn-sm" id="excel">
                                <img src="~/ExportExcel.png"
                                     style="cursor: pointer;" />
                            </button>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-sm-12 mat-elevation-z8"
                                 style="box-shadow: unset;padding: 0px ;" #TABLE>
                                <table class="table" id="example" style="width: 100%;" border="1">
                                    <thead>
                                        <tr>
                                            <td>
                                                R Id
                                            </td>
                                            <td>
                                                Test Approach
                                            </td>
                                            <td>
                                                Rule Name
                                            </td>
                                            <td>
                                                Rule Parameter
                                            </td>
                                            <td>
                                                Description
                                            </td>
                                            <td>
                                                Status
                                            </td>
                                            <td style="width: 100px;">
                                                Delete
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody id="tblAuthgrid"></tbody>

                                </table>
                            </div>

                        </div>

                        <div class="row" style="margin-top:10px">
                            <div class="col-sm-12 mat-elevation-z8"
                                 style="box-shadow: unset;padding: 0px ;" #TABLE>
                                <table class="table" id="example1" style="width: 100%;display:none" border="1">
                                    <thead>
                                        <tr>
                                            <td>
                                                R Id
                                            </td>
                                            <td>
                                                Test Approach
                                            </td>
                                            <td>
                                                Rule Name
                                            </td>
                                            <td>
                                                Rule Parameter
                                            </td>
                                            <td>
                                                Description
                                            </td>
                                            <td>
                                                Status
                                            </td>
                                            
                                        </tr>
                                    </thead>
                                    <tbody id="tblAuthgrid1"></tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                    <!-- partial:../../partials/_footer.html -->

                </div>


            </div>

        </div>
        <!-- partial:../../partials/_footer.html -->

    </div>
    </div>

    </div>


    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="http://52.157.105.144:5000/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
</html>
