﻿

@model ProductViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <script>


        $(document).ready(function () {
            /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
            var dropdown = document.getElementsByClassName("dropdown-btn2");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
            debugger;
            $("#ReleaseStatus").val("1");
            var Active = 1;
            $("#Status").attr('checked', true);
            $(document).on("click", "#ReleaseSave", function () {
                $("#Error").html('');
                $("#success").html('');
                var ReleaseNo = $("#RNo").val();
                if (ReleaseNo == "" || ReleaseNo == null || ReleaseNo == "undefined" || ReleaseNo == undefined) {
                    $("#Error").html("Please Enter Release No");
                    return false;
                }
                var inValid = /\s/;
                if ((inValid.test(ReleaseNo))) {

                    $("#Error").html('Release No cannot contain whitespace');
                    return false;
                }
                var RName = $("#RName").val();
                if (RName == "" || RName == null || RName == "undefined" || RName == undefined) {
                    $("#Error").html("Please Enter Release Name");
                    return false;
                }
                var inValid = /\s/;
                if ((inValid.test(RName))) {

                    $("#Error").html('Release Name cannot contain whitespace');
                    return false;
                }
                if ($('#Status').is(':checked')) {
                    Active = 1;
                }
                else {
                    $("#Error").html("Please Check Active Check box");
                }
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/Home/SaveRelease", // Controller/View
                        datatype: "json",
                        data: { RNo: ReleaseNo, RName: RName, Status: Active },
                         headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            debugger;
                            if (data == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                 return false;
                            }
                            var result = data;
                            if (result == "Success") {
                                $("#success").html("Release No Successfully Saved");
                                BindGrid1(1);
                                clear();
                            }
                            else if (result == "Fail") {
                                $("#Error").html("Already Release No  Exits")
                                return false;
                            }


                            debugger;
                        },
                        error: function (Result) {
                        }

                    });
            });


            $(document).on("click", "#update", function () {
                debugger;
                $("#Error").html('');
                $("#success").html('');
                var ReleaseNo = $("#RNo").val();
                if (ReleaseNo == "" || ReleaseNo == null || ReleaseNo == "undefined" || ReleaseNo == undefined) {
                    $("#Error").html("Please Enter Release No");
                    return false;
                }

                var inValid = /\s/;
                if ((inValid.test(ReleaseNo))) {

                    $("#Error").html('Release No cannot contain whitespace');
                    return false;
                }
                var RName = $("#RName").val();
                if (RName == "" || RName == null || RName == "undefined" || RName == undefined) {
                    $("#Error").html("Please Enter Release Name");
                    return false;
                }
                var inValid = /\s/;
                if ((inValid.test(RName))) {

                    $("#Error").html('Release Name cannot contain whitespace');
                    return false;
                }
                if ($('#Status').is(':checked')) {
                    Active = 1;
                }
                else {
                    Active = 0;
                }
                var releasenoId = $("#ReleasenoId").val();
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/Suites/UpdatesRelease", // Controller/View
                        datatype: "json",
                        data: { RNo: ReleaseNo, RName: RName, Status: Active, ReleaseId: releasenoId },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            debugger;
                            var result = data;
                            if (data == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                return false;
                            }
                            if (result == "Success") {
                                $("#success").html("Release No Successfully Updated");
                                BindGrid1(1);
                                clear();
                            }
                            else if (result == "Fail") {
                                $("#Error").html("Release No Updated Failes")
                                return false;
                            }


                            debugger;
                        },
                        error: function (Result) {
                        }

                    });
            });
            $(document).on("click", "#excel", function () {
                var uri = 'data:application/vnd.ms-excel;base64,'
                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                    , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                    , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

                var table = document.getElementById("example12");
                //var example1 = $('.example1');

                //var filters = $('.ng-table-filters').remove();
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML };
                //$('.ng-table-sort-header').after(filters);
                var url = uri + base64(format(template, ctx));
                var a = document.createElement('a');
                a.href = url;

                //var today = new Date();
                //var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear() + ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();

                a.download = 'Release.xls';
                a.click();
            });
            $(document).on('click', '#Clear', function () {
                clear();
                $("#Error").html("");
                $("#Success").html("");
                var table = document.getElementById('example');
                var cells = table.getElementsByTagName('td');
                for (var i = 0; i < cells.length; i++) {
                    var rowsNotSelected = table.getElementsByTagName('tr');
                    for (var row = 0; row < rowsNotSelected.length; row++) {
                        rowsNotSelected[row].style.backgroundColor = "";
                        rowsNotSelected[row].classList.remove('highlight');
                    }
                }
            });
            function clear() {
                $("#RNo").val('');
                $("#RName").val('');
                $("#ReleasenoId").val('');
                $("#ReleaseSave").removeClass("hidden");
                $("#update").addClass("hidden");
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#ReleaseStatus").val("1");
            }
            BindGrid(1);
       

        });
        function display(a, val) {
            $("#Error").html('');
            $("#success").html('');
            $("#ReleaseSave").addClass("hidden");
            $("#update").removeClass("hidden");
            var table = document.getElementById('example');
            var cells = table.getElementsByTagName('td');
            for (var i = 0; i < cells.length; i++) {
                var rowsNotSelected = table.getElementsByTagName('tr');
                for (var row = 0; row < rowsNotSelected.length; row++) {
                    rowsNotSelected[row].style.backgroundColor = "";
                    rowsNotSelected[row].classList.remove('highlight');
                }
            }
            a.parentNode.classList.add("highlight");
            debugger;
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Suites/EditReleaseno", // Controller/View
                    datatype: "json",
                    data: { Release: val },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        var result = data;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        $("#RNo").val(data["0"].releaseNo1);
                        $("#RName").val(data["0"].releaseName);
                        var status = data["0"].status;
                        $("#ReleasenoId").val(data["0"].releasenoId);
                        if (status == "1") {
                            $("#Status").prop("checked", true);
                        }
                        else {
                            $("#Status").prop("checked", false);
                        }
                        debugger;

                    },
                    error: function (Result) {
                    }

                });
        }
        function BindGrid(active) {
            if (active == "1") {
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#ReleaseStatus").val("1");
            }
            else {
                $("#InActive").addClass("hidden");
                $("#Active").removeClass("hidden");
                $("#ReleaseStatus").val("0");
            }
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Home/ReleaseBidGrid", // Controller/View
                    datatype: "json",
                    data: { Statuss: active },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        $('#tblAuthgrid').empty();
                        $('#example').dataTable().fnClearTable();
                        $('#example').dataTable().fnDestroy();
                        var tr;
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].releasenoId + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].releaseNo1 + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].releaseName + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].createdDate + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                                tr.append("<td> <span  OnClick='deletefun(" + data[i].releasenoId + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid').append(tr);
                            }
                        }
                        $('#example').DataTable({
                            paging: true,
                            scrollX: true,
                            lengthChange: true,
                            searching: true,
                            ordering: true,
                            "order": [[5, "desc"]],
                            "bDestroy": true
                        });
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].releasenoId + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].releaseName + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].createdDate + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                               // tr.append("<td> <span  OnClick='deletefun(" + data[i].releasenoId + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid1').append(tr);
                            }
                        }
                        debugger;
                    },
                    error: function (Result) {
                    }

                });
        }

        function BindGrid1(active) {
            if (active == "1") {
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#ReleaseStatus").val("1");
            }
            else {
                $("#InActive").addClass("hidden");
                $("#Active").removeClass("hidden");
                $("#ReleaseStatus").val("0");
            }
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Home/ReleaseBidGrid", // Controller/View
                    datatype: "json",
                    data: { Statuss: active },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        $('#example').dataTable().fnClearTable();
                        $('#example').dataTable().fnDestroy();
                        $('#tblAuthgrid').empty();
                        var tr;
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].releasenoId + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].releaseName + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].createdDate + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                                tr.append("<td> <span  OnClick='deletefun(" + data[i].releasenoId + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid').append(tr);
                            }
                        }
                    
                        $('#example').DataTable({
                            paging: true,
                            scrollX: true,
                            lengthChange: true,
                            searching: true,
                            ordering: true,
                            "order": [[5, "desc"]],
                            "bDestroy": true
                        });
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].releasenoId + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].releaseName + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].createdDate + "</td>");
                                tr.append("<td   OnClick='display(this," + data[i].releasenoId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                            //    tr.append("<td> <span  OnClick='deletefun(" + data[i].releasenoId + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid1').append(tr);
                            }
                        }
                        debugger;
                    },
                    error: function (Result) {
                    }

                });
        }
        function deletefun(releaseid) {
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Home/deleteRelease", // Controller/View
                    datatype: "json",
                    data: { releaseid: releaseid },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed");
                            return false;
                        }

                        Bindrid1(1);
                    },
                    error: function (Result) {

                    }

                });
        }
    </script>
    <div>

                <h3 style="        color: #ba9122; padding: 14px; margin-left: 42px;">Release</h3>
                <div class="container" style=" background-color: white;  padding-bottom: unset;">
                    <div class=" container-scroller">

                        <div class="container-fluid page-body-wrapper">

                            <div class="main-panel">
                                <div class="content-wrapper" style="padding: 1.5rem .8rem .5rem 2rem;">
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="form">
                                            <div class="row" style="padding-bottom: 20px;">
                                                <div class="col-lg-3 col-md-3 col-xs-5 col-sm-5" style="text-align: left;">
                                                    <label><span style="color: red;">*</span>Release No</label><br />
                                                    <input type="text" id="RNo" name="Name" class="txt-input form-control" />
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-xs-5 col-sm-5" style="text-align: left;">
                                                    <label><span style="color: red;">*</span>Release Name</label><br />
                                                    <input type="text" id="RName" name="Name" class="txt-input form-control" />
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
                <div class="container" style="        background-color: #eeeeee;
        padding: 10px;
        padding-bottom: unset;
        margin-top: 15px">
                    <div class="row" style="        padding: 10px
">
                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="text-align:left">
                            <input type="checkbox" id="Status"> Set As active
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                <label id="Error" style="color:red;text-align:center"></label>
                                <label id="success" style="color:green;text-align:center"></label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="text-align:right">
                            <input type="button" class="text-center center-block" style="        color: white;background-color: #c9a642" id="ReleaseSave" value="SAVE">
                            <input type="button" class="text-center center-block hidden" style="       color: white;background-color: #c9a642" id="update" value="Update">
                            <input type="button" class="text-center center-block clear" style="   color: black;" id="Clear" value="Clear">
                            <input type="hidden" id="ReleasenoId" />
                            <input type="hidden" id="ReleaseStatus" />
                        </div>

                    </div>
                </div>
                <div class="container" style="        background-color: white;

        padding-bottom: unset;
        margin-top: 15px">

                    <div class="container" style="     background-color: white;    padding: 44px; padding-top: 15px; padding-bottom: 100px;">
                        <div class="content">
                            <div class=" container-scroller">


                                @*<div class="col-lg-12 form-inline"
                                     style="">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-8 " style="padding-right:0px;">
                                        <div style=" position: absolute;">
                                            <div>
                                                <input type="text" id="search" name="search" class="form-control" />
                                                <button id="Searchlist" class="button" style=" margin: unset; background-color: #c9a642; margin-left: 10px" value="Search">Search</button>
                                            </div>

                                        </div>
                                        <div style=" padding-left: 60%;">
                                            <button id="InActive" OnClick='BindGrid("0")' class="button" style="margin: unset; background-color: #c9a642;  margin-left: 10px;" value="In Active">
                                                Inactive
                                            </button>
                                            <button id="Active" OnClick='BindGrid("1")' class="button hidden" style=" margin: unset; background-color: #c9a642; margin-left: 10px" value="Active">
                                                Active
                                            </button>
                                        </div>
                                        <div class="form-group" style="        padding-left: 91%;
        margin-top: -5%;">


                                            <button type="button" class="btn  btn-sm" id="excel">
                                                <img src="~/ExportExcel.png"
                                                     style="cursor: pointer;" />
                                            </button>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="form-group" id="Excelpos">


                                    <button type="button" class="btn  btn-sm" id="excel">
                                        <img src="~/ExportExcel.png"
                                             style="cursor: pointer;" />
                                    </button>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="col-sm-12 mat-elevation-z8"
                                         style="box-shadow: unset;padding: 0px ;" #TABLE>
                                        <table style="width: 100%;" border="1" id="example">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        Release No Id
                                                    </td>
                                                    <td>
                                                        Release No
                                                    </td>
                                                    <td>
                                                        Release Name
                                                    </td>
                                                    <td>
                                                        Created Date
                                                    </td>
                                                    <td>
                                                        Status
                                                    </td>
                                                    <td style="width: 100px;">
                                                        Delete
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody id="tblAuthgrid">
                                            </tbody>
                                        </table>

                                    </div>

                                </div>

                                <div class="row" style="margin-top:10px">
                                    <div class="col-sm-12 mat-elevation-z8"
                                         style="box-shadow: unset;padding: 0px ;" #TABLE>
                                        <table style="        width: 100%;
        display: none" border="1" id="example12">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        Release No Id
                                                    </td>
                                                    <td>
                                                        Release No
                                                    </td>
                                                    <td>
                                                        Release Name
                                                    </td>
                                                    <td>
                                                        Created Date
                                                    </td>
                                                    <td>
                                                        Status
                                                    </td>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody id="tblAuthgrid1">
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                            <!-- partial:../../partials/_footer.html -->

                        </div>


                    </div>

                </div>
                <!-- partial:../../partials/_footer.html -->

            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>

